<div class="h-full w-full relative">
    <!-- Navigation starts -->
    <!-- Mobile -->
    <div *ngIf="isMenu" id="mobile-nav" class="w-full xl:hidden h-full absolute z-40">
        <div class="bg-gray-800 opacity-50 inset-0 fixed w-full h-full" (click)="isMenu=false"></div>
        <div
            class="w-64 absolute left-0 z-40 top-0 bg-white shadow flex-col justify-between transition duration-150 ease-in-out h-full">
            <div class="flex flex-col justify-between h-full">
                <div class="px-6 pt-4 overflow-y-auto">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <img
                                src="https://scontent.fcmb2-2.fna.fbcdn.net/v/t39.30808-6/271133830_3086206718320299_7556243064107732952_n.png?_nc_cat=102&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGH7tjhR5F136FcoU_GLmBjFekIyS_tzA0V6QjJL-3MDV1o9cWV9C2vhrS173txYzc&_nc_ohc=KbsuSECARDUAX9YKcUI&_nc_ht=scontent.fcmb2-2.fna&oh=00_AfAQk14jiFgQgvFsMls0Ot6XXCa6aqbEYUsz5Rwz0XEiyQ&oe=64AD4F61">
                        </div>
                        <div id="cross" class="text-gray-800" (click)="isMenu=false">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24"
                                height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </div>
                    </div>
                    <ul class="f-m-m">
                        <a>
                            <li class="text-white pt-8">
                                <div class="flex items-center">
                                    <div class="md:w-6 md:h-6 w-5 h-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
                                            <path
                                                d="M7.16667 3H3.83333C3.3731 3 3 3.3731 3 3.83333V7.16667C3 7.6269 3.3731 8 3.83333 8H7.16667C7.6269 8 8 7.6269 8 7.16667V3.83333C8 3.3731 7.6269 3 7.16667 3Z"
                                                stroke="#667EEA" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M7.16667 11.6667H3.83333C3.3731 11.6667 3 12.0398 3 12.5V15.8333C3 16.2936 3.3731 16.6667 3.83333 16.6667H7.16667C7.6269 16.6667 8 16.2936 8 15.8333V12.5C8 12.0398 7.6269 11.6667 7.16667 11.6667Z"
                                                stroke="#667EEA" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M16.1667 11.6667H12.8333C12.3731 11.6667 12 12.0398 12 12.5V15.8334C12 16.2936 12.3731 16.6667 12.8333 16.6667H16.1667C16.6269 16.6667 17 16.2936 17 15.8334V12.5C17 12.0398 16.6269 11.6667 16.1667 11.6667Z"
                                                stroke="#667EEA" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M16.1667 3H12.8333C12.3731 3 12 3.3731 12 3.83333V7.16667C12 7.6269 12.3731 8 12.8333 8H16.1667C16.6269 8 17 7.6269 17 7.16667V3.83333C17 3.3731 16.6269 3 16.1667 3Z"
                                                stroke="#667EEA" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <p class="text-indigo-500 ml-3 text-lg">Invoice System</p>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="w-full">
                    <div class="flex justify-center mb-4 w-full px-6">
                        <div class="relative w-full">
                            <div class="text-gray-500 absolute ml-4 inset-0 m-auto w-4 h-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                    width="16" height="16" viewBox="0 0 24 24" stroke-width="1" stroke="#A0AEC0"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <circle cx="10" cy="10" r="7"></circle>
                                    <line x1="21" y1="21" x2="15" y2="15"></line>
                                </svg>
                            </div>
                            <input
                                class="focus:outline-none rounded w-full text-sm text-gray-500 bg-gray-100 pl-10 py-2"
                                type="text" placeholder="Search" />
                        </div>
                    </div>
                    <div class="border-t border-gray-300">
                        <div class="w-full flex items-center justify-between px-6 pt-1">
                            <div class="flex items-center">
                                <img alt="profile-pic"
                                    src="https://tuk-cdn.s3.amazonaws.com/assets/components/boxed_layout/bl_1.png"
                                    class="w-8 h-8 rounded-md" />
                                <p class=" text-gray-800 text-base leading-4 ml-2">Jane Doe</p>
                            </div>
                            <ul class="flex">
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-messages" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="1" stroke="#718096" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10">
                                        </path>
                                        <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
                                    </svg>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3 pl-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#718096"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"></path>
                                        <path
                                            d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
                                        </path>
                                        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile -->
    <nav class="w-full mx-auto bg-white shadow">
        <div class="container px-6 justify-between h-16 flex items-center lg:items-stretch mx-auto">
            <div class="h-full flex items-center">
                <div class="mr-10 flex items-center">
                    <img class="embla-logo"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYqkVzmhR-XLEkh6tpDhxNZRswwRgvAVUOzZu1eZZN&s">
                </div>
                <ul class="pr-12 xl:flex items-center h-full hidden">
                    <li
                        class="hover:text-indigo-700 cursor-pointer h-full flex items-center text-sm text-indigo-700 tracking-normal border-b-2 border-indigo-700">
                        Invoice System</li>
                </ul>
            </div>
            <div class="h-full xl:flex items-center justify-end hidden">
                <div class="w-full h-full flex items-center">
                    <div class="w-full pr-12 h-full flex items-center border-r">
                        <div class="relative w-full">
                            <div class="text-gray-500 absolute ml-3 inset-0 m-auto w-4 h-4">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                    width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <circle cx="10" cy="10" r="7" />
                                    <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </div>
                            <input
                                class="border border-gray-100 focus:outline-none focus:border-indigo-700 w-56 rounded text-sm text-gray-500 bg-gray-100 pl-8 py-2"
                                type="text" placeholder="Search" />
                        </div>
                    </div>
                    <div class="w-full h-full flex">
                        <div class="w-32 h-full flex items-center justify-center border-r cursor-pointer text-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="28"
                                height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                                <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                            </svg>
                        </div>
                        <div aria-haspopup="true" class="cursor-pointer w-full flex items-center justify-end relative"
                            onclick="dropdownHandler(this)">
                            <ul class="p-2 w-40 border-r bg-white absolute rounded z-40 left-0 shadow mt-64 hidden">
                                <li
                                    class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                                    <div class="flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-user" width="20" height="20"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <circle cx="12" cy="7" r="4" />
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                                        </svg>
                                        <span class="ml-2">My Profile</span>
                                    </div>
                                </li>
                                <li
                                    class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help"
                                        width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <circle cx="12" cy="12" r="9" />
                                        <line x1="12" y1="17" x2="12" y2="17.01" />
                                        <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
                                    </svg>
                                    <span class="ml-2">Help Center</span>
                                </li>
                                <li
                                    class="cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-settings" width="20" height="20"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" />
                                        <path
                                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <circle cx="12" cy="12" r="3" />
                                    </svg>
                                    <span class="ml-2">Account Settings</span>
                                </li>
                            </ul>
                            <img class="rounded h-10 w-10 object-cover"
                                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                                alt="logo" />
                            <p class="text-gray-800 text-sm ml-2">Embla Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible xl:hidden flex items-center">
                <div>
                    <div id="menu" class="text-gray-800" (click)="isMenu=true">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navigation ends -->
    <!-- Page title starts -->
    <div
        class="my-6 lg:my-8 container px-6 mx-auto flex flex-col lg:flex-row items-start lg:items-center justify-between">
        <div>
            <h4 class="text-2xl font-bold leading-tight text-gray-800">Embla Invoice Generator</h4>
        </div>
    </div>
    <!-- Page title ends -->

    <!--Body content start-->
    <div class="container mx-auto lg:grid lg:grid-cols-2 xl:grid-cols-2 gap-6">
        <div
            class="rounded border-gray-300 dark:border-gray-700 border-solid max-sm:border-b-1 md:border-2 h-auto md:mb-8">
            <app-create-invoice></app-create-invoice>
        </div>
        <div class="max-sm:border-b-4 max-sm:mt-8 md:hidden"></div>
        <div class="rounded border-gray-300 dark:border-gray-700 border-solid md:border-2 h-auto md:mb-8">
            <app-send-invoice></app-send-invoice>
        </div>
    </div>
    <!--Body content end-->

</div>