<div class="w-full bg-white px-10 py-3 max-sm:px-6">
  <div class="md:flex flex-col items-baseline">
      <h1 tabindex="0" role="heading" aria-label="invoice information" class="focus:outline-none text-3xl font-bold text-gray-800 mt-12">Invoice <span class="text-blue-600">#NR 0001/08/2023</span></h1>
      <h3 tabindex="0" role="subheading" aria-label="studio information" class="focus:outline-none text-2xl font-normal text-gray-500 mt-2">Norch Studio </h3>
      <div class="border-b-2 w-full border-gray-200 mt-5"></div>
  </div>

  <div class="md:flex flex-row mt-6">
    <div class="md:flex flex-col w-6/12 items-baseline">
      <div>
        <p class="text-sm">Bill From</p>
        <p class="font-semibold text-lg">Reza Raharjo</p>
        <p class="text-sm">4517 Washinton Ave. <br>Manchester, Kentucky 39495</p>
      </div>
      <div class="mt-6 max-sm:hidden">
        <p class="text-sm">Issued On:</p>
        <p class="text-lg">11 March, 2023</p>
      </div>
    </div>

    <div class="md:flex flex-col w-6/12 items-baseline max-sm:mt-6">
      <div>
        <p class="text-sm">Bill To</p>
        <p class="font-semibold text-lg">Ghyan Gundono</p>
        <p class="text-sm">1901 Thornridge Cir. Shiloh, <br>Hawaii 81063</p>
      </div>
      <div class="mt-6 md:hidden">
        <p class="text-sm">Issued On:</p>
        <p class="text-lg">11 March, 2023</p>
      </div>
      <div class="mt-6">
        <p class="text-sm">Due On:</p>
        <p class="text-lg">16 March, 2023</p>
      </div>
    </div>
  </div>

  <div class="md:flex flex-row p-0">
    <div class="flex flex-col w-full mx-0 mt-8">
     <h3 class="flex flex-row w-full text-sm border-b pb-2 border-slate-400">Invoice Details</h3>
     <table class="min-w-full divide-y divide-slate-200">
      <thead>
       <tr>
        <th scope="col" class="py-3.5 pr-3 text-left text-sm font-normal text-slate-700 sm:pl-6 md:pl-0">
         Description
        </th>
        <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-normal text-slate-700 sm:table-cell">
          Price
         </th>
        <th scope="col" class="hidden py-3.5 px-3 text-right text-sm font-normal text-slate-700 sm:table-cell">
         Quantity
        </th>
        <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-normal text-slate-700 sm:pr-6 md:pr-0">
         Total Amount
        </th>
       </tr>
      </thead>
      <tbody>
       <tr class="border-b border-slate-200">
        <td class="py-4 pr-3 text-sm sm:pl-6 md:pl-0">
         <div class="font-medium text-slate-700">Insurance Landing Page</div>
         <div class="mt-0.5 text-slate-500 sm:hidden">
          1 unit at $1.00
         </div>
        </td>
        <td class="hidden px-3 py-4 text-sm text-right text-slate-500 sm:table-cell">
        $1.00
        </td>
        <td class="hidden px-3 py-4 text-sm text-right text-slate-500 sm:table-cell">
         2
        </td>
        <td class="py-4 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0">
         $2.00
        </td>
       </tr>
       <tr class="border-b border-slate-200">
        <td class="py-4 pr-3 text-sm sm:pl-6 md:pl-0">
         <div class="font-medium text-slate-700">
          Insurance Illustration
         </div>
         <div class="mt-0.5 text-slate-500 sm:hidden">
          1 unit at $1.00
         </div>
        </td>
        <td class="hidden px-3 py-4 text-sm text-right text-slate-500 sm:table-cell">
          $500
        </td>
        <td class="hidden px-3 py-4 text-sm text-right text-slate-500 sm:table-cell">
          1
        </td>
        <td class="py-4 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0">
          $500
        </td>
       </tr>

       <!-- Here you can write more products/tasks that you want to charge for-->
      </tbody>
      <tfoot>
       <tr>
        <th scope="row" colspan="3" class="hidden pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0">
         Subtotal
        </th>
        <th scope="row" class="pt-6 pr-3 text-sm font-light text-left text-slate-500 sm:hidden">
         Subtotal
        </th>
        <td class="pt-6 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0">
         $1500.00
        </td>
       </tr>
       <tr>
        <th scope="row" colspan="3" class="hidden pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0">
         Discount
        </th>
        <th scope="row" class="pt-6 pr-3 text-sm font-light text-left text-slate-500 sm:hidden">
         Discount
        </th>
        <td class="pt-6 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0">
         $200.00
        </td>
       </tr>
       <tr>
        <th scope="row" colspan="3" class="hidden pt-4 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0">
         Tax
        </th>
        <th scope="row" class="pt-4 pr-3 text-sm font-light text-left text-slate-500 sm:hidden">
         Tax
        </th>
        <td class="pt-4 pl-3 pr-4 text-sm text-right text-slate-500 sm:pr-6 md:pr-0">
         $50.00
        </td>
       </tr>
       <tr>
        <th scope="row" colspan="3" class="hidden pt-4 pl-6 pr-3 text-sm font-bold text-right text-slate-700 sm:table-cell md:pl-0">
         Grand Total
        </th>
        <th scope="row" class="pt-4 pr-3 text-sm font-bold text-left text-slate-700 sm:hidden">
         Grand Total
        </th>
        <td class="pt-4 pl-3 pr-4 text-sm font-bold text-right text-slate-700 sm:pr-6 md:pr-0">
         $1350.00
        </td>
       </tr>
      </tfoot>
     </table>
    </div>
   </div>

   <div class="md:flex flex-row mt-6">
    <div class="w-full bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
      <div class="flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
        <div>
          <p class="text-sm font-bold">Note:</p>
          <p class="text-xs">Client will get notified to make the payment with any credit card, debit card or bank transfer.</p>
        </div>
      </div>
    </div>
   </div>

   <div class="md:flex md:w-full flex-row justify-between mt-6">
      <div class="flex flex-row items-start justify-start content-start">
        <button role="button" aria-label="Cancel" class="flex max-sm:w-full items-center justify-center py-4 px-7 focus:outline-none bg-slate-50 text-dark border rounded border-gray-400 mt-7 transition-all hover:bg-slate-200  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
          <span class="text-sm font-medium text-center capitalize">Cancel</span>
        </button>
      </div>

      <div class="md:flex flex-row items-end justify-end content-end">
        <button role="button" aria-label="Save as draft" class="flex max-sm:w-full items-center justify-center py-4 px-7 mr-4 focus:outline-none bg-slate-50 text-dark border rounded border-gray-400 mt-7 transition-all hover:bg-slate-200  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
          <span class="text-sm font-medium text-center capitalize">Save as draft</span>
        </button>

        <button role="button" aria-label="Send" class="flex max-sm:w-full items-center justify-center py-4 px-7 focus:outline-none bg-blue-600 text-white border rounded border-gray-400 mt-7 transition-all hover:bg-blue-800  focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
          <span class="text-sm font-medium text-center capitalize">Send</span>
          <svg class="mt-1 ml-3" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.01 3H0V5H8.01V8L12 4L8.01 0V3Z" fill="#FFF" />
          </svg>
        </button>
      </div>     
   </div>
</div>
